# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

imgui.ini

# X server
nohup.out

output
output.txt
output.out

temp_test
demo/temp_save
demo/temp.jpg

demo/rdt_demo_lz.py
demo/temp_depth_map.png
demo/rdt_demo_easy.py
depth.png
depth_visualized.png
results
